body {
  background-color: white;
  font-family: "Helvetica", "Verdana", sans-serif;
}

.row {
  margin-top: 15px;
}

.col-sm-offset-2{
margin-left: 0;
margin-top: 35px;
width: 60%;
}

.container-fluid {
  border: none;
  background-color: white;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: white;
}

.bg-slider {
  background-color: #fff;
  border-top: 10px solid black;
  border-bottom: 10px solid black;
  padding: 25px 0;
  color: #fff;
  margin-bottom: 30px;
  margin-top: 30px;
}

.flexslider {
  /*width: 600px;
  height: 300px;*/

}

.bg-grey{
  background-color: #dfdfdf;
  margin: 5px 0 15px 0;
  padding: 15px 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.bg-sidebar{
  background-color: #dfdfdf;
  margin: 5px 0 15px 0;
  padding: 0 15px 15px 15px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
